<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitchSpammer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TwitchSpammer.Properties.Settings>
            <setting name="Utilizador" serializeAs="String">
                <value />
            </setting>
            <setting name="PalavraPasse" serializeAs="String">
                <value />
            </setting>
            <setting name="Canal" serializeAs="String">
                <value />
            </setting>
            <setting name="Rate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mensagem" serializeAs="String">
                <value />
            </setting>
        </TwitchSpammer.Properties.Settings>
    </userSettings>
</configuration>